@{
    Layout = "_AdminLayout"; // tạm thời dùng layout user
    ViewData["Title"] = "Doanh thu";
}

<h2>Thống kê doanh thu</h2>
<p>Ở đây bạn sẽ hiển thị tổng số sản phẩm đã bán và tổng tiền nhận được.</p>
